<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/juaracoding/java/JCSelenium/src/test/java/com/juaracoding/selenium/pageobject/TestLogin.java">
        <classes>
            <class name="com.juaracoding.selenium.pageobject.TestLogin">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInValidLogin"/>
                    <include name="testUsernamePasswordKosong"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/juaracoding/java/JCSelenium/src/test/java/com/juaracoding/selenium/pageobject/TestDashboard.java">
        <classes>
            <class name="com.juaracoding.selenium.pageobject.TestDashboard">
                <methods>
                    <include name="testDashboardPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>